<link rel="stylesheet" href="../../images/pracownik.css">
<img class="d-block mx-auto mb-4" src="../../../images/Logo.svg" alt="" width="150" height="150">
					<div class = "row justify-content-center">
						<div class = "col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center text-primary text-white bg-warning fs-1 fw-bold rounded-pill">
							Zaloguj Się
						</div>
					</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <div class = "card card-body">
        <% include ./partials/messages %>

      <!--Dane logowania START-->
      <form action="/loginUser" method="POST">
        <label class ="fs-3 fw-bold" for="email">Adres e-mail</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Adres Email"
        />
        <label class = "fs-3 fw-bold" for="password">Hasło</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Hasło"
        />
      <!--Dane logowania KONIEC-->

      <!--Akcje logowania START-->
      <a href="#">Zapomniałem hasła</a>
      <hr class="mb-4">
      <div class="text-center">
          <button type="submit" class="btn btn-warning  fs-3 fw-bold" style="color: white;">Zaloguj</button>
      </div> 
    </form>
  

      </div>
      
  </div>
</div>    
</div>