<div class="container">

  <!--Logo i nazwa strony START-->
  <img class="d-block mx-auto mb-4" src="../../../images/Logo.svg" alt="" width="150" height="150">
  <div class = "row justify-content-center">
    <div class = "col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center text-primary text-white bg-primary fs-1 fw-bold rounded-pill">
      Zarejestruj Się
    </div>
  </div>
  <!--Logo i nazwa strony KONIEC-->

  <div class="row mt-5">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
      <div class="card card-body">
          <% include ./partials/messages %>
          <form class = "text-primary fs-3 fw-bold" action="/users/register" method="POST">
          
          <!--Dane rejestracji START-->
          <div class="form-group">
              <label for="name">Imie i nazwisko</label>
              <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Podaj imie i nazwisko"
              value="<%= typeof name != 'undefined' ? name : '' %>"
              />
          </div>
          <div class="form-group">
              <label for="email">Adres e-mail</label>
              <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Wprowadź email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
              />
          </div>
          <div class="form-group">
              <label for="password">Hasło</label>
              <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Utwórz hasło"
              value="<%= typeof password != 'undefined' ? password : '' %>"
              />
          </div>
          <div class="form-group">
              <label for="password2">Potwierdź hasło</label>
              <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Potwierdź hasło"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
              />
          </div>
          <!--Dane rejestracji KONIEC-->

          <hr class="mb-4">
          <div class="text-center">
              <button type="submit" class="btn btn-lg btn-primary fs-3 fw-bold" style="margin-top: 25px;">Zarejestruj</button>
          </div> 
          </form>


          <!--Logowanie START-->
          <p class="lead mt-4 text-center">
              Masz już konto?
              <a href="/users/login">Zaloguj</a>
          </p>
          <!--Logowanie KONIEC-->

      </div>
      </div>
  </div>
  </div>